accelerate==0.33.0
albucore==0.0.12
albumentations==1.4.12
annotated-types==0.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
cmake==3.30.1
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
diffusers==0.29.2
easydict==1.13
einops==0.8.0
eval_type_backport==0.2.0
filelock==3.13.1
flash_attn==2.6.1
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.2.0
huggingface-hub==0.24.2
humanfriendly==10.0
idna==3.7
imageio==2.34.2
importlib_metadata==8.2.0
insightface==0.7.3
ip-adapter @ git+https://github.com/tencent-ailab/IP-Adapter.git@62e4af9d0c1ac7d5f8dd386a0ccf2211346af1a2
Jinja2==3.1.3
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
MarkupSafe==2.1.5
matplotlib==3.9.1
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.3
onnx==1.16.1
onnxruntime==1.18.1
opencv-python-headless==4.10.0.84
packaging==24.1
peft==0.12.0
pillow==10.2.0
prettytable==3.10.2
protobuf==5.27.2
psutil==6.0.0
pydantic==2.8.2
pydantic_core==2.20.1
pyparsing==3.1.2
pyreadline3==3.4.1
python-dateutil==2.9.0.post0
PyYAML==6.0.1
regex==2024.7.24
requests==2.32.3
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
sympy==1.12
threadpoolctl==3.5.0
tifffile==2024.7.24
tokenizers==0.19.1
tomli==2.0.1
torch==2.4.0+cu121
torchaudio==2.4.0+cu121
torchvision==0.19.0+cu121
tqdm==4.66.4
transformers==4.43.3
typing_extensions==4.9.0
urllib3==2.2.2
wcwidth==0.2.13
zipp==3.19.2
